<!-- /.container -->
    
</div>
</div>
</div>
<br><br><br>
<hr>
<marquee>Linh Linh Shop Chuyên Buôn Bán Các Loại Vật Tư Nông Nghiệp</marquee>
<p class="text-center">&COPY; Linh Linh Shop</p>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.jsdelivr.net/npm/@fancyapps/ui@4.0/dist/fancybox.umd.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" ></script>
    <script src="/js/main.js"></script>
  </body>
</html>
