
     <% if(typeof alert != 'undefined'){%>
      <% alert.forEach(function(error){%>

   <div class="alert-danger">
     <strong>Cảnh báo !</strong> 
       <%= error.msg %>

   </div>
  
<% })%>
<%}%>


    